node_modules

.env
coverage
coverage.json
typechain
#Hardhat files
cache
# artifacts
typechain-types
.DS_Store
/data
/secrets.json
/dehub-randomness.code-workspace
/.vscode
# Openzeppelin
# https://docs.openzeppelin.com/upgrades-plugins/1.x/network-files
.openzeppelin/unknown-31337.json